/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
*/

html {
font-size: 16px;
text-align: center;
}

body {
margin: 0px 50px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    margin: 0px;
    margin-bottom: 30px;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    margin: 0px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0px;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: antiquewhite;
    text-align: center;
    padding: 50px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 0px 20px;
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
    height: 500px;
    display: flex;
}

.content {
    margin: auto;
    background-color: white;
    padding: 50px;
}

.content h4 {
    color:blueviolet;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.example {
    width: 350px;
    height: 300px;
    padding: 10px;
    border: 1px solid magenta;
    margin-bottom: 20px;
}

.example img {
 width: 100%;
 margin-bottom: 20px;
}

.team {
    width: 350px;
    height: 300px;
    padding: 10px;
    border: 1px solid magenta;
    margin-bottom: 20px;
}

.team img {
    width: 100%;
    margin-bottom: 20px;
   }

.teambox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    background-color: antiquewhite;
    padding: 50px 50px 10px 50px;
}

footer h4 {
    font-size: 16px;
    color:blueviolet;
}

.tiny {
    font-size: 12px;
    margin-top: 20px;
    text-transform: lowercase;
    color: grey;

}