* {
    font-family: Helvetica, Arial, sans-serif;
  }

  body{
      margin: 50px;
      background-color: #EEEDE7;
  }

 section {
      border-left: 10px solid #67595E;
      padding: 30px 50px;
      margin-bottom: 50px;
  }

h1 {
    text-align: center;
    background-color: #E7D2CC;
    padding: 20px;
}

table {
    width: 100%;
    border: 2px solid #868B8E;
}

thead tr {
    background-color: #E7D2CC;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.code {
    font-weight: 300;
    background-color: #E7D2CC;
}

td {
    border-bottom: 1px solid #868B8E;
    padding: 0px 20px;
}

.column {
    width: 100%;
    border: 1px solid #000;
    display: inline-block;
    padding: 0px 20px;
    max-height: 300px;
    overflow: scroll;
    vertical-align: top;
    margin-bottom: 10px;
}


h4.example {
    background-color: #8FBC8F;
}

h4.see {
    padding: 5px;
}

.example {
    font-weight: 300;
}

xmp {
    background-color: #fff;
    line-height: 1.5;
    font-weight: 300;
    font-family: "Roboto Mono";
}